---
import { ProfileUpload } from "../../../components/docentes/ProfileUpload";
import LayoutDashboard from "../../../layouts/LayoutDashboard.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivos del Docente</title>
</head>
<body>
    <LayoutDashboard>
        
        <ProfileUpload client:load/>
           
    </LayoutDashboard>
    
</body>
</html>
