<header class="invitation-header">
    <img
      src="/images/LogoUniversidadXX.jpeg"
      alt="UNIVERSIDAD NACIONAL SIGLO XX"
      class="logo"
    />
    <div class="header-text">
      <h1>UNIVERSIDAD NACIONAL SIGLO XX</h1>
      <h2>Escuela de Postgrado</h2>
      <h3>Cochabamba</h3>
    </div>
  </header>