---
import HeaderDash from "../layouts/layoutsDash/HeaderDash";
import Footerdash from "../layouts/layoutsDash/FooterDash";
import Slidebar from "../layouts/layoutsDash/Slidebar";

---

<!doctype html>
<html lang="en">
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <HeaderDash client:load  />

    <div class="layout">
      <Slidebar client:load  />

      <main class="contenidoPrincipal">
        <slot />
      </main>
    </div>

    <Footerdash client:load />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Futura", sans-serif;
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
   
    
    overflow: hidden;
  }

  .layout {
    display: flex;
    flex: 1;
    height: 100vh; /* Ocupar toda la altura */
  }

  .contenidoPrincipal {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
    transition: margin-left 0.3s ease;
    min-height: 100vh; /* Asegura que crezca si es necesario */
  }

  .contenidoPrincipal {
    margin-left: 0px; /* Ajusta según el ancho del slidebar */
  }

  .contenidoPrincipal.slidebar-closed {
    margin-left: 0;
  }

  @media (max-width: 768px) {
    .contenidoPrincipal {
      margin-left: 200px;
    }

    .contenidoPrincipal.slidebar-closed {
      margin-left: 0;
    }
  }
</style>
